mixin script (src)
   script(src="#{src}")&attributes(attributes)

+script("app/injections.js")
+script("app/configServices/moduleConfig.js")
+script("app/shared/registrations/inlineFactory.js")
+script("app/shared/registrations/standart.js")
